# The port the frontend uses.
PORT=

# The subreddits to ingest into redis. Separate these with a `+`
# ie. To log both /r/pics and /r/anime, do `pics+anime`
SUBREDDITS=

# The following environment variables are used for the ingester to log in on the reddit API.
CLIENT_ID=
SECRET_ID=
USERNAME=
PASSWORD=